.App {
  text-align: center;
}

.App-logo {
  height: 125px;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: white;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-bar {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}

.wrapper {
  padding: 5px 20px;
  text-align: left;
}

.wrapper fieldset {
  margin: 20px 0;
}

label {
  text-align: start;
}

div.input-group input.form-control {
  background-color: #E2EAFF;
}

textarea#custom-area {
  background-color: #E2EAFF;
}

.product-page {
  background-color: ghostwhite;
}

.page {
  background-color: ghostwhite;
}

.container {
  background-color: white;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.navbar {
  color: white;
  background-color: maroon;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom for footer */
  margin-bottom: 30px;
}

.footer {
  color: white;
  background-color: maroon;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-headers {
  color: red;
  text-align: left;
}

.section-headers {
  background-color: red;
  color: white;
}

.product-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: gainsboro;
}

Link.nav-link {
  color: white;
}

.HomePage {
  /*align-items:center;*/
  background-color: white;
  font-size: xx-large;

}

.HomePageBar {
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  background-color: rgb(255, 0, 0);
  background-position: 0% 50%;
  /*background-size: 50%;*/
  /*background-repeat: no-repeat;*/
  font-weight: 700;
  border: 2px;
  color: white;
}

.HomePageButton {
  color: black;
  background-color: rgb(209, 226, 254);
  font-size: 30px;
  font-weight: 20px;
  padding: 15px;
  width: 20%;
  border: 2px;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  /*table-layout: fixed;*/
  /*border-collapse: collapse;*/
}

.HomePageButton:hover {
  background-color: red;
  color: white;
}


.InactiveHomePageButton:hover {
  background-color: grey;
}

.InactiveHomePageButton {
  color: white;
  background-color: rgb(209, 226, 254);
  font-size: 30px;
  font-weight: 20px;
  padding: 15px;
  width: 20%;
  border: 2px;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  /*table-layout: fixed;*/
  /*border-collapse: collapse;*/
}

.HomePageButton:active {
  transform: translateY(4px);
}

.HomePageButtonWrapper {
  /*text-align: center;*/
  /*display:inline-block;*/
  /*top:50%;*/
  /*left:50%;*/
  margin: 0 auto;
  display: block;
}


.PageTitleName {
  top: 10%;
  left: 10%;
  width: 4%;
  height: 10%;
  color: red;
  font-size: xx-large;
  font-weight: bolder;


}

.PageTitleBar {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: red;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.BlackBar {
  width: 100%;
  height: 2px;
  background-color: black;
}

.AbsoMedia {
  color: red;
  font-weight: bolder;
  font-size: x-large;
}

.form-row-address{
  text-align: center;
  font-size: medium;
  padding-left: 5%;
}
